* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: url("../sources/img/background.jpg") 50% 90% fixed no-repeat;
}

header {
  min-height: 800px;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.7);
}

header .header-filter {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  position: absolute;
  z-index: 0;
}

header .wrapper {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px #f5cb5c solid;
  position: relative;
}

header .wrapper .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrapper .logo-container .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header .wrapper .logo-container .logo-wrap img {
  width: 100%;
  position: absolute;
}

header .wrapper .logo-container .logo-wrap p {
  word-spacing: 120px;
  margin-top: 100px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #f5cb5c;
  text-transform: uppercase;
}

header .wrapper .logo-container article {
  letter-spacing: 1px;
  word-spacing: 5px;
  margin: 50px 0;
  height: 60px;
  width: 600px;
  border-top: 1px #ffffff solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

header .wrapper .logo-container .make-order {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f5cb5c), color-stop(50%, transparent));
  background-image: linear-gradient(to top, #f5cb5c 50%, transparent 50%);
  background-size: 200% 200%;
  height: 60px;
  width: 180px;
  border: 2px #f5cb5c solid;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 32px;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

header .wrapper .logo-container .make-order:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f5cb5c), color-stop(50%, transparent));
  background-image: linear-gradient(to top, #f5cb5c 50%, transparent 50%);
  background-position: 0 100%;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.navbar {
  position: fixed;
  width: 100%;
  color: #ffffff;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navbar.active {
  background-color: #333333;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
}

.navbar.active.underline {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  border-bottom: 3px #f5cb5c solid;
}

.navbar .nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar .nav-wrap .nav-logo {
  width: 230px;
  position: relative;
  height: 7vh;
}

.navbar .nav-wrap .nav-logo img {
  height: 75px;
  position: absolute;
  top: 10px;
  z-index: 1000;
}

.navbar .nav-wrap .nav-links {
  width: 100%;
  max-width: 800px;
}

.navbar .nav-wrap .nav-links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-wrap .nav-links ul li {
  width: 20%;
}

.navbar .nav-wrap .nav-links ul li div {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7vh;
  min-height: 60px;
  width: 100%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
}

.navbar .nav-wrap .nav-links ul li div:hover {
  color: #f5cb5c;
  background-color: rgba(66, 66, 66, 0.6);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navbar .nav-wrap .authorization {
  position: relative;
  margin-left: auto;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-wrap .authorization .sign-in {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-wrap .authorization .sign-in p {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}

.navbar .nav-wrap .authorization .sign-in p:hover {
  color: #f5cb5c;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navbar .nav-wrap .authorization .sign-in ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-wrap .authorization .sign-in ul li {
  margin: 0 10px;
}

.navbar .nav-wrap .authorization .sign-in ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}

.navbar .nav-wrap .authorization .sign-in ul li a:hover {
  color: #f5cb5c;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navbar .nav-wrap .authorization .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: flex;
  margin: 20px;
}

.navbar .nav-wrap .authorization .lang:hover .dropdown-content {
  display: block;
}

.navbar .nav-wrap .authorization .lang:hover .dropdown-content .lang-item img {
  width: 30px;
  height: 20px;
}

.navbar .nav-wrap .authorization .lang .dropbtn {
  height: 20px;
  width: 30px;
  border: none;
}

.navbar .nav-wrap .authorization .lang .dropbtn img {
  width: 30px;
  height: 20px;
}

.navbar .nav-wrap .authorization .lang .dropbtn:focus {
  outline: 0;
}

.navbar .nav-wrap .authorization .lang .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.navbar .nav-wrap .authorization .lang .dropdown-content a {
  margin-bottom: 5px;
  height: 20px;
  width: 30px;
  text-decoration: none;
  display: block;
}

section {
  width: 100%;
}

section .team-list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .team-list.bg-filter {
  background-color: rgba(51, 51, 51, 0.5);
}

section .team-list .container {
  width: 100%;
  max-width: 1190px;
  padding: 10px 50px 30px 50px;
}

section .team-list p {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 3px #f5cb5c solid;
  text-shadow: 0 0 10px 1px black;
}

section .team-list .wrapper {
  border-radius: 10px;
  max-width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .team-list .wrapper .team-item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 380px;
  max-width: 340px;
  margin: 10px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
}

section .team-list .wrapper .team-item img {
  height: 100%;
}

section .team-list .wrapper .team-item .hover-panel {
  width: 100%;
  height: 120px;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  border-top: 3px #f5cb5c solid;
}

section .team-list .wrapper .team-item .hover-panel .team-info {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: capitalize;
}

section .team-list .wrapper .team-item .hover-panel .team-info .name {
  font-size: 40px;
  border-bottom: 1px #f5cb5c solid;
}

section .team-list .wrapper .team-item .hover-panel .team-info .job {
  font-size: 16px;
}

section .team-list .wrapper .team-item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

section .team-list .wrapper .team-item:hover .hover-panel {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

section .pricelist-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #424242;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 50px;
}

section .pricelist-block .wrapper {
  width: 100%;
  max-width: 1090px;
}

section .pricelist-block .wrapper p {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 3px #f5cb5c solid;
  width: 100%;
}

section .pricelist-block .wrapper .table {
  border: none;
  width: 100%;
}

section .pricelist-block .wrapper .table td {
  width: 100%;
  padding: 0 30px 0 30px;
  color: #ffffff;
  height: 60px;
  background-color: #424242;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

section .pricelist-block .wrapper .table .price {
  text-align: right;
  width: 100%;
  min-width: 150px;
  color: #f5cb5c;
}

section .pricelist-block .wrapper .table .dark {
  background-color: #333333;
}

section .photo-slider {
  padding: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.9)), color-stop(90%, #424242));
  background: linear-gradient(180deg, rgba(66, 66, 66, 0.9) 0%, #424242 90%);
}

section .photo-slider .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .photo-slider .wrapper .slider-block {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  height: 720px;
  width: 1280px;
  min-height: 720px;
  min-width: 1280px;
}

section .photo-slider .wrapper .slider-block .wrapper {
  min-width: 1280px;
  height: 100%;
}

section .about-us {
  padding: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .about-us.bg-filter {
  background-color: rgba(51, 51, 51, 0.5);
}

section .about-us .wrapper {
  max-width: 1280px;
  height: 300px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .contacts {
  background-color: #424242;
  padding: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .contacts .wrapper {
  max-width: 1370px;
  height: 700px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #333333;
}

.anchor {
  display: block;
  position: relative;
  top: -7vh;
  visibility: hidden;
}

.sign-in-form {
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 10000;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in-form .login-form, .sign-in-form .register-form {
  width: 500px;
  background-color: #eeeeee;
  padding: 20px;
  display: none;
}

.sign-in-form .login-form p, .sign-in-form .register-form p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}

.sign-in-form .login-form span, .sign-in-form .register-form span {
  color: #f5cb5c;
  cursor: pointer;
}

.sign-in-form .login-form .form-group, .sign-in-form .register-form .form-group {
  margin: 10px;
}

.sign-in-form .login-form .form-group .form-control, .sign-in-form .register-form .form-group .form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px #f5cb5c solid;
  background-color: #eeeeee;
  color: #333333;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.sign-in-form .login-form .form-group .form-control:focus, .sign-in-form .register-form .form-group .form-control:focus {
  outline: none;
}

.sign-in-form .login-form input[type=submit], .sign-in-form .register-form input[type=submit] {
  background-color: #f5cb5c;
  border: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

.sign-in-form .login-form .window-title, .sign-in-form .register-form .window-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}

.sign-in-form .login-form .window-title .form-title, .sign-in-form .register-form .window-title .form-title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}

.sign-in-form .login-form .window-title .close-tab, .sign-in-form .register-form .window-title .close-tab {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}

.sign-in-form .login-form .window-title .close-tab .line1, .sign-in-form .register-form .window-title .close-tab .line1 {
  border-radius: 3px;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #333333;
  top: 14px;
  left: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sign-in-form .login-form .window-title .close-tab .line2, .sign-in-form .register-form .window-title .close-tab .line2 {
  border-radius: 3px;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #333333;
  top: 14px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sign-in-form .login-form .window-title .close-tab:hover .line1, .sign-in-form .register-form .window-title .close-tab:hover .line1 {
  background-color: #f5cb5c;
}

.sign-in-form .login-form .window-title .close-tab:hover .line2, .sign-in-form .register-form .window-title .close-tab:hover .line2 {
  background-color: #f5cb5c;
}

.sign-in-form .register-form {
  display: none;
}
/*# sourceMappingURL=style.css.map */